<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>piper.cirrus.newsboat.config.2017 - handy - Unnamed repository; edit this file &#39;description&#39; to name the repository.
</title>
<link rel="icon" type="image/png" href="../../favicon.png" />
<link rel="alternate" type="application/atom+xml" title="handy Atom Feed" href="../../atom.xml" />
<link rel="alternate" type="application/atom+xml" title="handy Atom Feed (tags)" href="../../tags.xml" />
<link rel="stylesheet" type="text/css" href="../../style.css" />
</head>
<body>
<table><tr><td><a href="../../../"><img src="../../logo.png" alt="" width="32" height="32" /></a></td><td><h1>handy</h1><span class="desc">Unnamed repository; edit this file &#39;description&#39; to name the repository.
</span></td></tr><tr><td></td><td>
<a href="../../log.html">Log</a> | <a href="../../files.html">Files</a> | <a href="../../refs.html">Refs</a> | <a href="../../file/README.md.html">README</a></td></tr></table>
<hr/>
<div id="content">
<p> piper.cirrus.newsboat.config.2017 (5625B)</p><hr/><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> e cirrus, http://ix.io/Bzb
<a href="#l2" class="line" id="l2">      2</a> # ░░░░░░ ░░░░░░  ░░   ░░  ░░░░░░ ░░░░░░  ░░   ░░░░░░░░ ░░░░░░  ░░   ░░  ░░░░░ ░░░░░░
<a href="#l3" class="line" id="l3">      3</a> # ███╗   ██╗███████╗██╗    ██╗███████╗██████╗ ███████╗██╗   ██╗████████╗███████╗██████╗ 
<a href="#l4" class="line" id="l4">      4</a> # ████╗  ██║██╔════╝██║    ██║██╔════╝██╔══██╗██╔════╝██║   ██║╚══██╔══╝██╔════╝██╔══██╗
<a href="#l5" class="line" id="l5">      5</a> # ██╔██╗ ██║█████╗  ██║ █╗ ██║███████╗██████╔╝█████╗  ██║   ██║   ██║   █████╗  ██████╔╝
<a href="#l6" class="line" id="l6">      6</a> # ██║╚██╗██║██╔══╝  ██║███╗██║╚════██║██╔══██╗██╔══╝  ██║   ██║   ██║   ██╔══╝  ██╔══██╗
<a href="#l7" class="line" id="l7">      7</a> # ██║ ╚████║███████╗╚███╔███╔╝███████║██████╔╝███████╗╚██████╔╝   ██║   ███████╗██║  ██║
<a href="#l8" class="line" id="l8">      8</a> # ╚═╝  ╚═══╝╚══════╝ ╚══╝╚══╝ ╚══════╝╚═════╝ ╚══════╝ ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝
<a href="#l9" class="line" id="l9">      9</a> # ░░░░░░ ░░░░░░  ░░   ░░  ░░░░░░ ░░░░░░  ░░   ░░░░░░░░ ░░░░░░  ░░   ░░  ░░░░░ ░░░░░░
<a href="#l10" class="line" id="l10">     10</a> #  ▓▓▓▓▓▓▓▓▓▓
<a href="#l11" class="line" id="l11">     11</a> # ░▓ author ▓ cirrus &lt;cirrus@archlinux.info&gt;
<a href="#l12" class="line" id="l12">     12</a> # ░▓ code   ▓ https://gist.github.com/cirrusUK
<a href="#l13" class="line" id="l13">     13</a> # ░▓ mirror ▓ http://cirrus.turtil.net
<a href="#l14" class="line" id="l14">     14</a> # ░▓▓▓▓▓▓▓▓▓▓ #░░░░░░░░░░                                                                            
<a href="#l15" class="line" id="l15">     15</a> article-sort-order  desc
<a href="#l16" class="line" id="l16">     16</a> auto-reload         no
<a href="#l17" class="line" id="l17">     17</a> #browser             firefox %u
<a href="#l18" class="line" id="l18">     18</a> browser             ~/.config/piper
<a href="#l19" class="line" id="l19">     19</a> confirm-exit        no
<a href="#l20" class="line" id="l20">     20</a> max-items           100
<a href="#l21" class="line" id="l21">     21</a> notify-program      &quot;/usr/bin/notify-send -h string:bgcolor:#000000 -h string:fgcolor:#46db18 -i ~/.icons/48arch.png &#39;Newsbeuter&#39; -h string:fgcolor:#db18c9&quot;
<a href="#l22" class="line" id="l22">     22</a> reload-threads      3
<a href="#l23" class="line" id="l23">     23</a> reload-time         0
<a href="#l24" class="line" id="l24">     24</a> save-path           ~/.newsbeuter/saved_articles
<a href="#l25" class="line" id="l25">     25</a> show-read-articles  no
<a href="#l26" class="line" id="l26">     26</a> show-read-feeds     no
<a href="#l27" class="line" id="l27">     27</a> color listfocus   red default blink
<a href="#l28" class="line" id="l28">     28</a> color info          red default bold
<a href="#l29" class="line" id="l29">     29</a> #highlight all &quot;Linux&quot; yellow black blink
<a href="#l30" class="line" id="l30">     30</a> #download-full-page yes 
<a href="#l31" class="line" id="l31">     31</a> notify-always yes 
<a href="#l32" class="line" id="l32">     32</a> #mark-as-read-on-hover yes 
<a href="#l33" class="line" id="l33">     33</a> always-display-description true 
<a href="#l34" class="line" id="l34">     34</a> bookmark-cmd /home/cirrus/scripts/newsbeuter_bookmarks_surfraw.sh
<a href="#l35" class="line" id="l35">     35</a> #
<a href="#l36" class="line" id="l36">     36</a> #-------- macros {{{
<a href="#l37" class="line" id="l37">     37</a> #------------------------------------------------------
<a href="#l38" class="line" id="l38">     38</a> # Note: macro prefix key ( default: , )
<a href="#l39" class="line" id="l39">     39</a> 
<a href="#l40" class="line" id="l40">     40</a> # open in cli web browser
<a href="#l41" class="line" id="l41">     41</a> # macro o set browser &quot;$BROWSERCLI %u&quot;; open-in-browser ; set browser &quot;$BROWSER %u&quot;
<a href="#l42" class="line" id="l42">     42</a> macro o set browser &quot;tmux split-window &amp;&amp; tmux send-keys &#39;$BROWSERCLI %u &amp;&amp; tmux kill-pane\n&#39;&quot;; open-in-browser ; set browser &quot;$BROWSER %u&quot;
<a href="#l43" class="line" id="l43">     43</a> 
<a href="#l44" class="line" id="l44">     44</a> # read reddit comments with rtv (reddit terminal viewer)
<a href="#l45" class="line" id="l45">     45</a> # macro r set browser &quot;rtv -l %u&quot;; open-in-browser ; set browser &quot;$BROWSER %u&quot;
<a href="#l46" class="line" id="l46">     46</a> macro r set browser &quot;tmux split-window &amp;&amp; tmux send-keys &#39;rtv -l %u &amp;&amp; tmux kill-pane\n&#39;&quot;; open-in-browser ; set browser &quot;$BROWSER %u&quot;
<a href="#l47" class="line" id="l47">     47</a> 
<a href="#l48" class="line" id="l48">     48</a> # add video or audio to play queue using mpv (requires: task-spooler, mpv, youtube-dl)
<a href="#l49" class="line" id="l49">     49</a> macro p set browser &quot;tsp mpv --ontop --no-border --force-window --autofit=500x280 --geometry=-15-10 %u&quot;; open-in-browser ; set browser &quot;$BROWSER %u&quot;
<a href="#l50" class="line" id="l50">     50</a> 
<a href="#l51" class="line" id="l51">     51</a> # copy url to clipboard &quot;yank&quot;
<a href="#l52" class="line" id="l52">     52</a> macro y set browser &quot;echo -n %u | xclip -selection clipboard&quot;; open-in-browser ; set browser &quot;$BROWSER %u&quot;
<a href="#l53" class="line" id="l53">     53</a> macro w set browser &quot;w3m %u&quot;; open-in-browser ; set browser &quot;$BROWSERCLI %u&quot;
<a href="#l54" class="line" id="l54">     54</a> 
<a href="#l55" class="line" id="l55">     55</a> # read saved files
<a href="#l56" class="line" id="l56">     56</a> # ranger: https://www.youtube.com/watch?v=qooLR8NmYKs
<a href="#l57" class="line" id="l57">     57</a> macro s set browser &quot;tmux split-window &amp;&amp; tmux send-keys &#39;ranger ~/.newsbeuter/saved_articles &amp;&amp; tmux kill-pane\n&#39;&quot; ; open-in-browser ; set browser &quot;$BROWSER %u&quot;
<a href="#l58" class="line" id="l58">     58</a> 
<a href="#l59" class="line" id="l59">     59</a> # }}}
<a href="#l60" class="line" id="l60">     60</a> #
<a href="#l61" class="line" id="l61">     61</a> 
<a href="#l62" class="line" id="l62">     62</a> # formatting and colorization ------------------------------------------
<a href="#l63" class="line" id="l63">     63</a>  
<a href="#l64" class="line" id="l64">     64</a> articlelist-format &quot;%4i %f %D %?T?|%-17T| ?%t&quot;
<a href="#l65" class="line" id="l65">     65</a>  
<a href="#l66" class="line" id="l66">     66</a> highlight feedlist &quot;^ *[0-9]+ *N &quot; color156 default
<a href="#l67" class="line" id="l67">     67</a> highlight articlelist &quot;^ *[0-9]+ *N &quot; color156 default
<a href="#l68" class="line" id="l68">     68</a>  
<a href="#l69" class="line" id="l69">     69</a> highlight article &quot;^(Feed|Title|Author|Link|Date|Linux):.*&quot; color75 default
<a href="#l70" class="line" id="l70">     70</a> highlight article &quot;^Podcast Download URL:.*&quot; color71 default
<a href="#l71" class="line" id="l71">     71</a> highlight article &quot;^Links:&quot; white color240 underline
<a href="#l72" class="line" id="l72">     72</a> highlight article &quot;\\[[0-9][0-9]*\\]&quot; color72 default bold
<a href="#l73" class="line" id="l73">     73</a> highlight article &quot;\\[image [0-9][0-9]*\\]&quot; color72 default bold
<a href="#l74" class="line" id="l74">     74</a> highlight article &quot;\\[embedded flash: [0-9][0-9]*\\]&quot; color72 default bold
<a href="#l75" class="line" id="l75">     75</a> highlight article &quot;:.*\\(link\\)$&quot; color74 default
<a href="#l76" class="line" id="l76">     76</a> highlight article &quot;:.*\\(image\\)$&quot; color74 default
<a href="#l77" class="line" id="l77">     77</a> highlight article &quot;:.*\\(embedded flash\\)$&quot; color74 default
<a href="#l78" class="line" id="l78">     78</a>  
<a href="#l79" class="line" id="l79">     79</a> color listnormal color246 color234
<a href="#l80" class="line" id="l80">     80</a> color listnormal_unread color244 color234 bold
<a href="#l81" class="line" id="l81">     81</a> color listfocus color166 color235
<a href="#l82" class="line" id="l82">     82</a> color info color38 color235
<a href="#l83" class="line" id="l83">     83</a> color background color244 color234
<a href="#l84" class="line" id="l84">     84</a> color article color244 color234 
<a href="#l85" class="line" id="l85">     85</a> 
<a href="#l86" class="line" id="l86">     86</a> feedlist-format &quot;%-65t %?d?- %-65d&amp;? %&gt; %u&quot;
<a href="#l87" class="line" id="l87">     87</a> articlelist-format &quot;%-4i %f %t&quot;
<a href="#l88" class="line" id="l88">     88</a> feedlist-title-format &quot;%N %V %&gt; %u feeds with new articles&quot;
<a href="#l89" class="line" id="l89">     89</a> articlelist-title-format &quot;%T&quot;
<a href="#l90" class="line" id="l90">     90</a> html-renderer &quot;w3m -dump -T text/HTML -cols 72&quot;
<a href="#l91" class="line" id="l91">     91</a> highlight article &quot;^(Feed|Title|Author|Link|Date):.*&quot; yellow default bold
<a href="#l92" class="line" id="l92">     92</a> notify-format  &quot;%I %d %n %f new articles (%n unread articles, %f unread feeds)&quot;
</pre>
</div>
</body>
</html>
