<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Add files via upload - handy - Unnamed repository; edit this file &#39;description&#39; to name the repository.
</title>
<link rel="icon" type="image/png" href="../favicon.png" />
<link rel="alternate" type="application/atom+xml" title="handy Atom Feed" href="../atom.xml" />
<link rel="alternate" type="application/atom+xml" title="handy Atom Feed (tags)" href="../tags.xml" />
<link rel="stylesheet" type="text/css" href="../style.css" />
</head>
<body>
<table><tr><td><a href="../../"><img src="../logo.png" alt="" width="32" height="32" /></a></td><td><h1>handy</h1><span class="desc">Unnamed repository; edit this file &#39;description&#39; to name the repository.
</span></td></tr><tr><td></td><td>
<a href="../log.html">Log</a> | <a href="../files.html">Files</a> | <a href="../refs.html">Refs</a> | <a href="../file/README.md.html">README</a></td></tr></table>
<hr/>
<div id="content">
<pre><b>commit</b> <a href="../commit/3dea0c3d6bec2b10b159829bd24a747e35c7b562.html">3dea0c3d6bec2b10b159829bd24a747e35c7b562</a>
<b>parent</b> <a href="../commit/02292dccda29f0619671491e39155e01a2b7f386.html">02292dccda29f0619671491e39155e01a2b7f386</a>
<b>Author:</b> somename123 &lt;<a href="mailto:m040601@users.noreply.github.com">m040601@users.noreply.github.com</a>&gt;
<b>Date:</b>   Sun, 26 Jan 2020 17:23:17 +0000

Add files via upload
<b>Diffstat:</b>
<table><tr><td class="A">A</td><td><a href="#h0">gotbletu/gotbletu-boat-browsercli</a></td><td> | </td><td class="num">84</td><td><span class="i">+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h1">gotbletu/gotbletu-urlportal.sh</a></td><td> | </td><td class="num">242</td><td><span class="i">+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</span><span class="d"></span></td></tr>
<tr><td class="A">A</td><td><a href="#h2">gotbletu/gotbletu-w3m-tmux-play</a></td><td> | </td><td class="num">29</td><td><span class="i">+++++++++++++++++++++++++++++</span><span class="d"></span></td></tr>
</table></pre><pre>3 files changed, 355 insertions(+), 0 deletions(-)
<hr/><b>diff --git a/<a id="h0" href="../file/gotbletu/gotbletu-boat-browsercli.html">gotbletu/gotbletu-boat-browsercli</a> b/<a href="../file/gotbletu/gotbletu-boat-browsercli.html">gotbletu/gotbletu-boat-browsercli</a></b>
<a href="#h0-0" id="h0-0" class="h">@@ -0,0 +1,84 @@
</a><a href="#h0-0-0" id="h0-0-0" class="i">+# Newsbeuter Macro
</a><a href="#h0-0-1" id="h0-0-1" class="i">+couple of macros i use with my terminal rss reader, we dont need to reinvent the wheel, we are just going to use existing tools and chain them together.
</a><a href="#h0-0-2" id="h0-0-2" class="i">+* tutorial video: [Link](https://www.youtube.com/watch?v=mRnMg2V9n-E)
</a><a href="#h0-0-3" id="h0-0-3" class="i">+* offical website: [Link](http://newsbeuter.org/)
</a><a href="#h0-0-4" id="h0-0-4" class="i">+
</a><a href="#h0-0-5" id="h0-0-5" class="i">+### install requirements
</a><a href="#h0-0-6" id="h0-0-6" class="i">+    newsbeuter
</a><a href="#h0-0-7" id="h0-0-7" class="i">+
</a><a href="#h0-0-8" id="h0-0-8" class="i">+### how to use newsbeuter
</a><a href="#h0-0-9" id="h0-0-9" class="i">+- newsbeuter playlist: https://www.youtube.com/playlist?list=PLqv94xWU9zZ30jHFe8pqC5qES6ya6v2sE
</a><a href="#h0-0-10" id="h0-0-10" class="i">+
</a><a href="#h0-0-11" id="h0-0-11" class="i">+### variables
</a><a href="#h0-0-12" id="h0-0-12" class="i">+    vim ~/.bashrc or ~/.zshrc
</a><a href="#h0-0-13" id="h0-0-13" class="i">+    
</a><a href="#h0-0-14" id="h0-0-14" class="i">+    export BROWSER=chromium
</a><a href="#h0-0-15" id="h0-0-15" class="i">+    export BROWSERCLI=w3m
</a><a href="#h0-0-16" id="h0-0-16" class="i">+
</a><a href="#h0-0-17" id="h0-0-17" class="i">+### configuration
</a><a href="#h0-0-18" id="h0-0-18" class="i">+    vim ~/.newsbeuter/config
</a><a href="#h0-0-19" id="h0-0-19" class="i">+    
</a><a href="#h0-0-20" id="h0-0-20" class="i">+    
</a><a href="#h0-0-21" id="h0-0-21" class="i">+    browser $BROWSER
</a><a href="#h0-0-22" id="h0-0-22" class="i">+    save-path ~/.newsbeuter/saved_articles
</a><a href="#h0-0-23" id="h0-0-23" class="i">+    
</a><a href="#h0-0-24" id="h0-0-24" class="i">+    #-------- macros {{{
</a><a href="#h0-0-25" id="h0-0-25" class="i">+    #------------------------------------------------------
</a><a href="#h0-0-26" id="h0-0-26" class="i">+    # Note: macro prefix key ( default: , )
</a><a href="#h0-0-27" id="h0-0-27" class="i">+    
</a><a href="#h0-0-28" id="h0-0-28" class="i">+    # open in cli web browser
</a><a href="#h0-0-29" id="h0-0-29" class="i">+    # w3m: https://www.youtube.com/watch?v=Z22cFTB-uqg
</a><a href="#h0-0-30" id="h0-0-30" class="i">+    # tmux: https://www.youtube.com/watch?v=ZNM1KfqpyGo
</a><a href="#h0-0-31" id="h0-0-31" class="i">+    # macro o set browser &quot;$BROWSERCLI %u&quot;; open-in-browser ; set browser &quot;$BROWSER %u&quot;
</a><a href="#h0-0-32" id="h0-0-32" class="i">+    macro o set browser &quot;tmux split-window &amp;&amp; tmux send-keys &#39;$BROWSERCLI %u &amp;&amp; tmux kill-pane\n&#39;&quot;; open-in-browser ; set browser &quot;$BROWSER %u&quot;
</a><a href="#h0-0-33" id="h0-0-33" class="i">+    
</a><a href="#h0-0-34" id="h0-0-34" class="i">+    # read reddit comments with rtv (reddit terminal viewer)
</a><a href="#h0-0-35" id="h0-0-35" class="i">+    # rtv: https://www.youtube.com/watch?v=jc2ZVSof5-g
</a><a href="#h0-0-36" id="h0-0-36" class="i">+    # macro r set browser &quot;rtv -l %u&quot;; open-in-browser ; set browser &quot;$BROWSER %u&quot;
</a><a href="#h0-0-37" id="h0-0-37" class="i">+    macro r set browser &quot;tmux split-window &amp;&amp; tmux send-keys &#39;rtv -l %u &amp;&amp; tmux kill-pane\n&#39;&quot;; open-in-browser ; set browser &quot;$BROWSER %u&quot;
</a><a href="#h0-0-38" id="h0-0-38" class="i">+    
</a><a href="#h0-0-39" id="h0-0-39" class="i">+    # add video or audio to play queue using mpv (requires: task-spooler, mpv, youtube-dl)
</a><a href="#h0-0-40" id="h0-0-40" class="i">+    # task-spooler: https://www.youtube.com/watch?v=wv8D8wT20ZY
</a><a href="#h0-0-41" id="h0-0-41" class="i">+    # youtube-dl: https://www.youtube.com/watch?v=MFxlwVhwayg
</a><a href="#h0-0-42" id="h0-0-42" class="i">+    macro p set browser &quot;tsp mpv --ontop --no-border --force-window --autofit=500x280 --geometry=-15-10 %u&quot;; open-in-browser ; set browser &quot;$BROWSER %u&quot;
</a><a href="#h0-0-43" id="h0-0-43" class="i">+    
</a><a href="#h0-0-44" id="h0-0-44" class="i">+    # copy url to clipboard &quot;yank&quot;
</a><a href="#h0-0-45" id="h0-0-45" class="i">+    # xclip: https://www.youtube.com/watch?v=fKP0FLp3uW0
</a><a href="#h0-0-46" id="h0-0-46" class="i">+    macro y set browser &quot;echo -n %u | xclip -selection clipboard&quot;; open-in-browser ; set browser &quot;$BROWSER %u&quot;
</a><a href="#h0-0-47" id="h0-0-47" class="i">+    
</a><a href="#h0-0-48" id="h0-0-48" class="i">+
</a><a href="#h0-0-49" id="h0-0-49" class="i">+    # read saved files
</a><a href="#h0-0-50" id="h0-0-50" class="i">+    # ranger: https://www.youtube.com/watch?v=qooLR8NmYKs
</a><a href="#h0-0-51" id="h0-0-51" class="i">+    # w3m context url: https://www.youtube.com/watch?v=C7YPjbrTeCs
</a><a href="#h0-0-52" id="h0-0-52" class="i">+    macro s set browser &quot;tmux split-window &amp;&amp; tmux send-keys &#39;ranger ~/.newsbeuter/saved_articles &amp;&amp; tmux kill-pane\n&#39;&quot; ; open-in-browser ; set browser &quot;$BROWSER %u&quot;
</a><a href="#h0-0-53" id="h0-0-53" class="i">+    
</a><a href="#h0-0-54" id="h0-0-54" class="i">+    # }}}
</a><a href="#h0-0-55" id="h0-0-55" class="i">+    
</a><a href="#h0-0-56" id="h0-0-56" class="i">+
</a><a href="#h0-0-57" id="h0-0-57" class="i">+### references
</a><a href="#h0-0-58" id="h0-0-58" class="i">+- newsbeuter playlist: https://www.youtube.com/playlist?list=PLqv94xWU9zZ30jHFe8pqC5qES6ya6v2sE
</a><a href="#h0-0-59" id="h0-0-59" class="i">+- w3m: https://www.youtube.com/watch?v=Z22cFTB-uqg
</a><a href="#h0-0-60" id="h0-0-60" class="i">+- tmux: https://www.youtube.com/watch?v=ZNM1KfqpyGo
</a><a href="#h0-0-61" id="h0-0-61" class="i">+- rtv: https://www.youtube.com/watch?v=jc2ZVSof5-g
</a><a href="#h0-0-62" id="h0-0-62" class="i">+- task-spooler: https://www.youtube.com/watch?v=wv8D8wT20ZY
</a><a href="#h0-0-63" id="h0-0-63" class="i">+- youtube-dl: https://www.youtube.com/watch?v=MFxlwVhwayg
</a><a href="#h0-0-64" id="h0-0-64" class="i">+- xclip: https://www.youtube.com/watch?v=fKP0FLp3uW0
</a><a href="#h0-0-65" id="h0-0-65" class="i">+- ranger: https://www.youtube.com/watch?v=qooLR8NmYKs
</a><a href="#h0-0-66" id="h0-0-66" class="i">+- w3m context url: https://www.youtube.com/watch?v=C7YPjbrTeCs
</a><a href="#h0-0-67" id="h0-0-67" class="i">+
</a><a href="#h0-0-68" id="h0-0-68" class="i">+### contact
</a><a href="#h0-0-69" id="h0-0-69" class="i">+
</a><a href="#h0-0-70" id="h0-0-70" class="i">+                 _   _     _      _         
</a><a href="#h0-0-71" id="h0-0-71" class="i">+      __ _  ___ | |_| |__ | | ___| |_ _   _ 
</a><a href="#h0-0-72" id="h0-0-72" class="i">+     / _` |/ _ \| __| &#39;_ \| |/ _ \ __| | | |
</a><a href="#h0-0-73" id="h0-0-73" class="i">+    | (_| | (_) | |_| |_) | |  __/ |_| |_| |
</a><a href="#h0-0-74" id="h0-0-74" class="i">+     \__, |\___/ \__|_.__/|_|\___|\__|\__,_|
</a><a href="#h0-0-75" id="h0-0-75" class="i">+     |___/                                  
</a><a href="#h0-0-76" id="h0-0-76" class="i">+
</a><a href="#h0-0-77" id="h0-0-77" class="i">+- http://www.youtube.com/user/gotbletu
</a><a href="#h0-0-78" id="h0-0-78" class="i">+- https://twitter.com/gotbletu
</a><a href="#h0-0-79" id="h0-0-79" class="i">+- https://plus.google.com/+gotbletu
</a><a href="#h0-0-80" id="h0-0-80" class="i">+- https://github.com/gotbletu
</a><a href="#h0-0-81" id="h0-0-81" class="i">+- gotbletu@gmail.com
</a><a href="#h0-0-82" id="h0-0-82" class="i">+
</a><a href="#h0-0-83" id="h0-0-83" class="i">+
</a><b>diff --git a/<a id="h1" href="../file/gotbletu/gotbletu-urlportal.sh.html">gotbletu/gotbletu-urlportal.sh</a> b/<a href="../file/gotbletu/gotbletu-urlportal.sh.html">gotbletu/gotbletu-urlportal.sh</a></b>
<a href="#h1-0" id="h1-0" class="h">@@ -0,0 +1,242 @@
</a><a href="#h1-0-0" id="h1-0-0" class="i">+#!/bin/bash
</a><a href="#h1-0-1" id="h1-0-1" class="i">+#             _   _     _      _
</a><a href="#h1-0-2" id="h1-0-2" class="i">+#  __ _  ___ | |_| |__ | | ___| |_ _   _
</a><a href="#h1-0-3" id="h1-0-3" class="i">+# / _` |/ _ \| __| &#39;_ \| |/ _ \ __| | | |
</a><a href="#h1-0-4" id="h1-0-4" class="i">+#| (_| | (_) | |_| |_) | |  __/ |_| |_| |
</a><a href="#h1-0-5" id="h1-0-5" class="i">+# \__, |\___/ \__|_.__/|_|\___|\__|\__,_|
</a><a href="#h1-0-6" id="h1-0-6" class="i">+# |___/
</a><a href="#h1-0-7" id="h1-0-7" class="i">+#       https://www.youtube.com/user/gotbletu
</a><a href="#h1-0-8" id="h1-0-8" class="i">+#       https://twitter.com/gotbletu
</a><a href="#h1-0-9" id="h1-0-9" class="i">+#       https://github.com/gotbletu
</a><a href="#h1-0-10" id="h1-0-10" class="i">+#       gotbletu@gmail.com
</a><a href="#h1-0-11" id="h1-0-11" class="i">+
</a><a href="#h1-0-12" id="h1-0-12" class="i">+#                   _                  _        _
</a><a href="#h1-0-13" id="h1-0-13" class="i">+#        _   _ _ __| |_ __   ___  _ __| |_ __ _| |
</a><a href="#h1-0-14" id="h1-0-14" class="i">+#       | | | | &#39;__| | &#39;_ \ / _ \| &#39;__| __/ _` | |
</a><a href="#h1-0-15" id="h1-0-15" class="i">+#       | |_| | |  | | |_) | (_) | |  | || (_| | |
</a><a href="#h1-0-16" id="h1-0-16" class="i">+#        \__,_|_|  |_| .__/ \___/|_|   \__\__,_|_|
</a><a href="#h1-0-17" id="h1-0-17" class="i">+#                    |_|
</a><a href="#h1-0-18" id="h1-0-18" class="i">+#       DESC: custom way to handle url (similar idea to xdg-open, mailcap)
</a><a href="#h1-0-19" id="h1-0-19" class="i">+#             works with just about all programs (e.g w3m, rtv, newsboat, urlview ...etc)
</a><a href="#h1-0-20" id="h1-0-20" class="i">+#       DEMO: https://www.youtube.com/watch?v=2jyfrmBYzVQ
</a><a href="#h1-0-21" id="h1-0-21" class="i">+#       install: lynx youtube-dl task-spooler newsboat rtv w3m mpv urlview tmux feh plowshare streamlink curl coreutils
</a><a href="#h1-0-22" id="h1-0-22" class="i">+
</a><a href="#h1-0-23" id="h1-0-23" class="i">+
</a><a href="#h1-0-24" id="h1-0-24" class="i">+# newsboat:
</a><a href="#h1-0-25" id="h1-0-25" class="i">+#     vim ~/.newsboat/config
</a><a href="#h1-0-26" id="h1-0-26" class="i">+#         browser ~/.scripts/urlportal.sh
</a><a href="#h1-0-27" id="h1-0-27" class="i">+
</a><a href="#h1-0-28" id="h1-0-28" class="i">+# rtv:
</a><a href="#h1-0-29" id="h1-0-29" class="i">+#     vim ~/.bashrc
</a><a href="#h1-0-30" id="h1-0-30" class="i">+#         export RTV_BROWSER=~/.scripts/urlportal.sh
</a><a href="#h1-0-31" id="h1-0-31" class="i">+
</a><a href="#h1-0-32" id="h1-0-32" class="i">+# w3m:
</a><a href="#h1-0-33" id="h1-0-33" class="i">+#     vim ~/.w3m/keymap
</a><a href="#h1-0-34" id="h1-0-34" class="i">+#         open url under cursor (default: Esc+Shift+M); e.g 2+Esc+Shift+M
</a><a href="#h1-0-35" id="h1-0-35" class="i">+#         keymap  e       EXTERN_LINK ~/.scripts/urlportal.sh
</a><a href="#h1-0-36" id="h1-0-36" class="i">+
</a><a href="#h1-0-37" id="h1-0-37" class="i">+# urlview:
</a><a href="#h1-0-38" id="h1-0-38" class="i">+#     vim ~/.urlview
</a><a href="#h1-0-39" id="h1-0-39" class="i">+#         COMMAND ~/.scripts/urlportal.sh
</a><a href="#h1-0-40" id="h1-0-40" class="i">+
</a><a href="#h1-0-41" id="h1-0-41" class="i">+# references:
</a><a href="#h1-0-42" id="h1-0-42" class="i">+# cirrusuk http://arza.us/paste/piper
</a><a href="#h1-0-43" id="h1-0-43" class="i">+# obosob https://github.com/michael-lazar/rtv/issues/78#issuecomment-125507472
</a><a href="#h1-0-44" id="h1-0-44" class="i">+# budlabs - mpv queue https://www.youtube.com/watch?v=-vbr3-mHoRs
</a><a href="#h1-0-45" id="h1-0-45" class="i">+#                     https://github.com/budlabs/youtube/blob/master/letslinux/032-queue-files-in-mpv/openvideo
</a><a href="#h1-0-46" id="h1-0-46" class="i">+# ji99 - mpv queue script https://www.reddit.com/r/commandline/comments/920p5d/bash_script_for_queueing_youtube_links_in_mpv/
</a><a href="#h1-0-47" id="h1-0-47" class="i">+
</a><a href="#h1-0-48" id="h1-0-48" class="i">+
</a><a href="#h1-0-49" id="h1-0-49" class="i">+# BROWSERCLI=&quot;w3m&quot;
</a><a href="#h1-0-50" id="h1-0-50" class="i">+# BROWSER=&quot;chromium&quot;
</a><a href="#h1-0-51" id="h1-0-51" class="i">+# DEFAULT=&quot;xdg-open&quot;
</a><a href="#h1-0-52" id="h1-0-52" class="i">+# DEFAULT=&quot;chromium --incognito&quot;
</a><a href="#h1-0-53" id="h1-0-53" class="i">+# DEFAULT=&quot;w3m&quot;
</a><a href="#h1-0-54" id="h1-0-54" class="i">+DEFAULT=&quot;$BROWSERCLI&quot;
</a><a href="#h1-0-55" id="h1-0-55" class="i">+## long videos like youtube
</a><a href="#h1-0-56" id="h1-0-56" class="i">+VIDEO_QUEUE=&quot;tsp mpv --ontop --no-border --force-window --autofit=500x280 --geometry=-15-53&quot;
</a><a href="#h1-0-57" id="h1-0-57" class="i">+## short videos/animated gif clips
</a><a href="#h1-0-58" id="h1-0-58" class="i">+VIDEO_CLIP=&quot;mpv --loop --quiet --ontop --no-border --force-window --autofit=900x600 --geometry=-15+60&quot;
</a><a href="#h1-0-59" id="h1-0-59" class="i">+IMAGEGUI=&quot;feh -. -x -B black -g 900x600-15+60&quot;
</a><a href="#h1-0-60" id="h1-0-60" class="i">+# IMAGECLI=&quot;w3m /usr/lib/w3m/cgi-bin/treat_as_url.cgi -o display_image=1 -o imgdisplay=/usr/lib/w3m/w3mimgdisplay&quot;
</a><a href="#h1-0-61" id="h1-0-61" class="i">+IMAGECLI=&quot;w3m -o display_image=1 -o imgdisplay=w3mimgdisplay&quot;
</a><a href="#h1-0-62" id="h1-0-62" class="i">+# IMAGECLI=&quot;fbi&quot;
</a><a href="#h1-0-63" id="h1-0-63" class="i">+TORRENTCLI=&quot;transmission-remote --add&quot;
</a><a href="#h1-0-64" id="h1-0-64" class="i">+# LIVEFEED=&#39;streamlink -p &quot;mpv --cache 2048 --ontop --no-border --force-window --autofit=500x280 --geometry=-15-60&quot;&#39;
</a><a href="#h1-0-65" id="h1-0-65" class="i">+LIVEFEED=&quot;tsp streamlink&quot;
</a><a href="#h1-0-66" id="h1-0-66" class="i">+DDL_PATH=~/Downloads/plowshare
</a><a href="#h1-0-67" id="h1-0-67" class="i">+DDL_QUEUE_FAST=~/.config/plowshare/queuefast.txt
</a><a href="#h1-0-68" id="h1-0-68" class="i">+
</a><a href="#h1-0-69" id="h1-0-69" class="i">+
</a><a href="#h1-0-70" id="h1-0-70" class="i">+# enable case-insensitive matching
</a><a href="#h1-0-71" id="h1-0-71" class="i">+shopt -s nocasematch
</a><a href="#h1-0-72" id="h1-0-72" class="i">+
</a><a href="#h1-0-73" id="h1-0-73" class="i">+url=&quot;$1&quot;
</a><a href="#h1-0-74" id="h1-0-74" class="i">+case &quot;$url&quot; in
</a><a href="#h1-0-75" id="h1-0-75" class="i">+    *gfycat.com/*|*streamable.com/*)
</a><a href="#h1-0-76" id="h1-0-76" class="i">+        nohup $VIDEO_CLIP &quot;${url/.gifv/.webm}&quot; &gt; /dev/null 2&gt;&amp;1 &amp;
</a><a href="#h1-0-77" id="h1-0-77" class="i">+        ;;
</a><a href="#h1-0-78" id="h1-0-78" class="i">+    *v.redd.it/*|*video.twimg.com/*|*dailymotion.com*)
</a><a href="#h1-0-79" id="h1-0-79" class="i">+        nohup $VIDEO_CLIP &quot;$url&quot; &gt; /dev/null 2&gt;&amp;1 &amp;
</a><a href="#h1-0-80" id="h1-0-80" class="i">+        ;;
</a><a href="#h1-0-81" id="h1-0-81" class="i">+    *youtube.com/watch*|*youtu.be/*|*clips.twitch.tv/*)
</a><a href="#h1-0-82" id="h1-0-82" class="i">+        $VIDEO_QUEUE &quot;$url&quot;
</a><a href="#h1-0-83" id="h1-0-83" class="i">+        ;;
</a><a href="#h1-0-84" id="h1-0-84" class="i">+    *twitch.tv/*)
</a><a href="#h1-0-85" id="h1-0-85" class="i">+        $LIVEFEED &quot;$url&quot;
</a><a href="#h1-0-86" id="h1-0-86" class="i">+        ;;
</a><a href="#h1-0-87" id="h1-0-87" class="i">+    *pornhub.com/*|*xvideos.com/*)
</a><a href="#h1-0-88" id="h1-0-88" class="i">+        # $VIDEO_QUEUE &quot;$url&quot;
</a><a href="#h1-0-89" id="h1-0-89" class="i">+        nohup $VIDEO_CLIP &quot;$url&quot; &gt; /dev/null 2&gt;&amp;1 &amp;
</a><a href="#h1-0-90" id="h1-0-90" class="i">+        ;;
</a><a href="#h1-0-91" id="h1-0-91" class="i">+    *reddit.com/r/*)
</a><a href="#h1-0-92" id="h1-0-92" class="i">+        tmux new-window -n rtv &amp;&amp; tmux send-keys &quot;rtv -l $url &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-93" id="h1-0-93" class="i">+        ;;
</a><a href="#h1-0-94" id="h1-0-94" class="i">+    *glodls.to/*|*eogli.org/*|*limetorrents.io/*|*limetorrents.cc/*|*pornoshara.tv/item*|*rustorrents.net/details*|*xxx-tracker.com/*)
</a><a href="#h1-0-95" id="h1-0-95" class="i">+        tmux new-window -n browse &amp;&amp; tmux send-keys &quot;$BROWSERCLI &#39;$url&#39; &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-96" id="h1-0-96" class="i">+        ;;
</a><a href="#h1-0-97" id="h1-0-97" class="i">+    *thepiratebay.org/*|*torrentdownloads.me/*|*yourbittorrent2.com/*|*torlock2.com/*|*bt-scene.cc/*|*rarbg.to/*|*ettorrent.xyz/*)
</a><a href="#h1-0-98" id="h1-0-98" class="i">+        tmux new-window -n browse &amp;&amp; tmux send-keys &quot;$BROWSERCLI &#39;$url&#39; &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-99" id="h1-0-99" class="i">+        ;;
</a><a href="#h1-0-100" id="h1-0-100" class="i">+    *22pixx.xyz/ia-i/*)
</a><a href="#h1-0-101" id="h1-0-101" class="i">+        cleanurl=&quot;$(printf $url | sed &#39;s/ia-i/i/g&#39; | sed &#39;s/\.html//g&#39;)&quot;
</a><a href="#h1-0-102" id="h1-0-102" class="i">+        tmux new-window -n pixcli &amp;&amp; tmux send-keys &quot;$IMAGECLI &#39;$cleanurl&#39; &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-103" id="h1-0-103" class="i">+        ;;
</a><a href="#h1-0-104" id="h1-0-104" class="i">+    *freebunker.com/*)
</a><a href="#h1-0-105" id="h1-0-105" class="i">+        cleanurl=&quot;$(printf $url | sed &#39;s@img\/@tn\/i@&#39;)&quot;
</a><a href="#h1-0-106" id="h1-0-106" class="i">+        tmux new-window -n pixcli &amp;&amp; tmux send-keys &quot;$IMAGECLI &#39;$cleanurl&#39; &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-107" id="h1-0-107" class="i">+        ;;
</a><a href="#h1-0-108" id="h1-0-108" class="i">+    *imagerar.com/t/*)
</a><a href="#h1-0-109" id="h1-0-109" class="i">+        cleanurl=&quot;$(printf $url | sed &#39;s@/t@/u@&#39;)&quot;
</a><a href="#h1-0-110" id="h1-0-110" class="i">+        tmux new-window -n pixcli &amp;&amp; tmux send-keys &quot;$IMAGECLI &#39;$cleanurl&#39; &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-111" id="h1-0-111" class="i">+        ;;
</a><a href="#h1-0-112" id="h1-0-112" class="i">+    *imagerar.com/imgy-u/*)
</a><a href="#h1-0-113" id="h1-0-113" class="i">+        cleanurl=&quot;$(printf $url | sed &#39;s/imgy-u/u/g&#39; | sed &#39;s/.html//g&#39;)&quot;
</a><a href="#h1-0-114" id="h1-0-114" class="i">+        tmux new-window -n pixcli &amp;&amp; tmux send-keys &quot;$IMAGECLI &#39;$cleanurl&#39; &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-115" id="h1-0-115" class="i">+        ;;
</a><a href="#h1-0-116" id="h1-0-116" class="i">+    *imageshtorm.com/upload/small/*|*hotimage.uk/upload/small/*|*hdmoza.com//upload/small/*|*nikapic.ru/upload/small/*|*imagedecode.com/upload/small/*|*trans.firm.in//upload/small/*)
</a><a href="#h1-0-117" id="h1-0-117" class="i">+        # nohup $IMAGEGUI &quot;$(printf $url | sed &#39;s/small/big/&#39;)&quot; &gt; /dev/null 2&gt;&amp;1 &amp;
</a><a href="#h1-0-118" id="h1-0-118" class="i">+        cleanurl=&quot;$(printf $url | sed &#39;s/small/big/&#39;)&quot;
</a><a href="#h1-0-119" id="h1-0-119" class="i">+        tmux new-window -n pixcli &amp;&amp; tmux send-keys &quot;$IMAGECLI &#39;$cleanurl&#39; &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-120" id="h1-0-120" class="i">+        ;;
</a><a href="#h1-0-121" id="h1-0-121" class="i">+    *imageshtorm.com/img*)
</a><a href="#h1-0-122" id="h1-0-122" class="i">+        # nohup $IMAGEGUI &quot;$(printf $url | sed &#39;s/small/big/&#39;)&quot; &gt; /dev/null 2&gt;&amp;1 &amp;
</a><a href="#h1-0-123" id="h1-0-123" class="i">+        cleanurl=&quot;$(curl -s &quot;$url&quot; | grep onclick | grep -oP &#39;&lt;a href=\047\K[^\047]+&#39;)&quot;
</a><a href="#h1-0-124" id="h1-0-124" class="i">+        tmux new-window -n pixcli &amp;&amp; tmux send-keys &quot;$IMAGECLI &#39;$cleanurl&#39; &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-125" id="h1-0-125" class="i">+        ;;
</a><a href="#h1-0-126" id="h1-0-126" class="i">+    *freescreens.ru/allimage/*|*imgclick.ru/allimage/*|*money-pic.ru/allimage/*)
</a><a href="#h1-0-127" id="h1-0-127" class="i">+        cleanurl=&quot;$(printf $url | sed &#39;s/-thumb//&#39;)&quot;
</a><a href="#h1-0-128" id="h1-0-128" class="i">+        tmux new-window -n pixcli &amp;&amp; tmux send-keys &quot;$IMAGECLI &#39;$cleanurl&#39; &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-129" id="h1-0-129" class="i">+        ;;
</a><a href="#h1-0-130" id="h1-0-130" class="i">+    *freescreens.ru/*)
</a><a href="#h1-0-131" id="h1-0-131" class="i">+        cleanurl=&quot;$(printf &quot;$url/1/&quot; | sed &#39;s/freescreens.ru/picpic.online/&#39;)&quot;
</a><a href="#h1-0-132" id="h1-0-132" class="i">+        tmux new-window -n pixcli &amp;&amp; tmux send-keys &quot;$IMAGECLI &#39;$cleanurl&#39; &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-133" id="h1-0-133" class="i">+        ;;
</a><a href="#h1-0-134" id="h1-0-134" class="i">+    *pixcloud.ru/view*)
</a><a href="#h1-0-135" id="h1-0-135" class="i">+        cleanurl=&quot;$(curl -s &quot;$url&quot; | grep -oP &#39;&lt;img id=&quot;photo&quot; src=&quot;\K[^&quot;]+&#39;)&quot;
</a><a href="#h1-0-136" id="h1-0-136" class="i">+        tmux new-window -n pixcli &amp;&amp; tmux send-keys &quot;$IMAGECLI &#39;$cleanurl&#39; &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-137" id="h1-0-137" class="i">+        ;;
</a><a href="#h1-0-138" id="h1-0-138" class="i">+    *money-pic.ru/*)
</a><a href="#h1-0-139" id="h1-0-139" class="i">+        cleanurl=&quot;$(curl -s &quot;$url/1/&quot; | grep allimage | grep -oP &#39;&lt;img src=&quot;\K[^&quot;]+&#39;)&quot;
</a><a href="#h1-0-140" id="h1-0-140" class="i">+        tmux new-window -n pixcli &amp;&amp; tmux send-keys &quot;$IMAGECLI &#39;$cleanurl&#39; &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-141" id="h1-0-141" class="i">+        ;;
</a><a href="#h1-0-142" id="h1-0-142" class="i">+    *imagecurl.com/viewer.php?file=*)
</a><a href="#h1-0-143" id="h1-0-143" class="i">+        cleanurl=&quot;$(printf $url | sed &#39;s@https://@https://cdn.@&#39; | sed &#39;s@/viewer.php?file=@/images/@&#39;)&quot;
</a><a href="#h1-0-144" id="h1-0-144" class="i">+        tmux new-window -n pixcli &amp;&amp; tmux send-keys &quot;$IMAGECLI &#39;$cleanurl&#39; &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-145" id="h1-0-145" class="i">+        ;;
</a><a href="#h1-0-146" id="h1-0-146" class="i">+    *img2share.com/*|*imgpeak.com/*|*damimage.com/img*|*imagedecode.com/img*|*picfuture.com/*|*imageteam.org/*|*imgsalem.com/*|*dimtus.com/img*|*imgstudio.org/img*|*imagehub.pro/img*|*trans.firm.in//img*|*pic.hotimg.site/img*)
</a><a href="#h1-0-147" id="h1-0-147" class="i">+        # cleanurl=&quot;$(curl -s &quot;$url&quot; | grep -oP &#39;&lt;img class=\047centred\047 src=\047\K[^\047]+&#39;)&quot;
</a><a href="#h1-0-148" id="h1-0-148" class="i">+        cleanurl=&quot;$(curl -s &quot;$url&quot; | grep centred | grep -oP &#39;src=\047\K[^\047]+&#39;)&quot;
</a><a href="#h1-0-149" id="h1-0-149" class="i">+        tmux new-window -n pixcli &amp;&amp; tmux send-keys &quot;$IMAGECLI &#39;$cleanurl&#39; &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-150" id="h1-0-150" class="i">+        ;;
</a><a href="#h1-0-151" id="h1-0-151" class="i">+    *imgadult.com/img*|*imgdrive.net/*)
</a><a href="#h1-0-152" id="h1-0-152" class="i">+        cleanurl=&quot;$(curl -s &quot;$url&quot; | grep -oP &#39;&lt;meta property=&quot;og:image&quot; content=&quot;\K[^&quot;]+&#39; | sed &#39;s/small/big/&#39;)&quot;
</a><a href="#h1-0-153" id="h1-0-153" class="i">+        tmux new-window -n pixcli &amp;&amp; tmux send-keys &quot;$IMAGECLI &#39;$cleanurl&#39; &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-154" id="h1-0-154" class="i">+        ;;
</a><a href="#h1-0-155" id="h1-0-155" class="i">+    *xxximagetpb.org/*|*img-central.com/*|*imgdone.com/image/*|*i.nmfiles.com/image/*|*i.imghost.top/image/*|*mstimg.com/image/*|*imagebam.com/image/*|*imgflip.com/i/*)
</a><a href="#h1-0-156" id="h1-0-156" class="i">+        cleanurl=&quot;$(lynx -source &quot;$url&quot; | grep -oP &#39;&lt;meta property=&quot;og:image&quot; content=&quot;\K[^&quot;]+&#39;)&quot;
</a><a href="#h1-0-157" id="h1-0-157" class="i">+        tmux new-window -n pixcli &amp;&amp; tmux send-keys &quot;$IMAGECLI &#39;$cleanurl&#39; &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-158" id="h1-0-158" class="i">+        ;;
</a><a href="#h1-0-159" id="h1-0-159" class="i">+    *wallpaperspic.pw/*|*pornweb.xyz/*)
</a><a href="#h1-0-160" id="h1-0-160" class="i">+        cleanurl=&quot;$(curl -s &quot;$url&quot; | grep imagebam | grep -oP &#39;&lt;p&gt;&lt;img src=&quot;\K[^&quot;]+&#39;)&quot;
</a><a href="#h1-0-161" id="h1-0-161" class="i">+        tmux new-window -n pixcli &amp;&amp; tmux send-keys &quot;$IMAGECLI &#39;$cleanurl&#39; &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-162" id="h1-0-162" class="i">+        ;;
</a><a href="#h1-0-163" id="h1-0-163" class="i">+    */imagetwist.com/*)
</a><a href="#h1-0-164" id="h1-0-164" class="i">+        cleanurl=&quot;$(curl -s &quot;$url&quot; | grep -oP &#39;&lt;p style=&quot;display: block; text-align:center;&quot;&gt;&lt;img src=&quot;\K[^&quot;]+&#39;)&quot;
</a><a href="#h1-0-165" id="h1-0-165" class="i">+        tmux new-window -n pixcli &amp;&amp; tmux send-keys &quot;$IMAGECLI &#39;$cleanurl&#39; &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-166" id="h1-0-166" class="i">+        ;;
</a><a href="#h1-0-167" id="h1-0-167" class="i">+    *imgtornado.com/img*|*placeimg.net/img*|*http://imgjazz.com/img*|*picmoza.com//img*|*xxxwebdlxxx.org/img*)
</a><a href="#h1-0-168" id="h1-0-168" class="i">+        cleanurl=&quot;$(curl --data &quot;imgContinue=Continue to image ...&quot; --location &quot;$url&quot; | grep centred | grep -oP &#39;src=\047\K[^\047]+&#39;)&quot;
</a><a href="#h1-0-169" id="h1-0-169" class="i">+        tmux new-window -n pixcli &amp;&amp; tmux send-keys &quot;$IMAGECLI &#39;$cleanurl&#39; &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-170" id="h1-0-170" class="i">+        ;;
</a><a href="#h1-0-171" id="h1-0-171" class="i">+    *hotimage.uk/img*)
</a><a href="#h1-0-172" id="h1-0-172" class="i">+        cleanurl=&quot;$(curl --data &quot;imgContinue=Continue to image ...&quot; --location &quot;$(printf $url | sed &#39;s@http://@https://www.@&#39;)&quot; | grep centred | grep -oP &#39;src=\047\K[^\047]+&#39;)&quot;
</a><a href="#h1-0-173" id="h1-0-173" class="i">+        tmux new-window -n pixcli &amp;&amp; tmux send-keys &quot;$IMAGECLI &#39;$cleanurl&#39; &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-174" id="h1-0-174" class="i">+        ;;
</a><a href="#h1-0-175" id="h1-0-175" class="i">+    *i.imgur.com/*.gifv|*i.imgur.com/*.mp4|*i.imgur.com/*.webm|*i.imgur.com/*.gif)
</a><a href="#h1-0-176" id="h1-0-176" class="i">+        nohup $VIDEO_CLIP &quot;$url&quot; &gt; /dev/null 2&gt;&amp;1 &amp;
</a><a href="#h1-0-177" id="h1-0-177" class="i">+        ;;
</a><a href="#h1-0-178" id="h1-0-178" class="i">+    *i.imgur.com/*| *imgur.com/*.*)
</a><a href="#h1-0-179" id="h1-0-179" class="i">+        # nohup $IMAGEGUI &quot;$url&quot; &gt; /dev/null 2&gt;&amp;1 &amp;
</a><a href="#h1-0-180" id="h1-0-180" class="i">+        tmux new-window -n pixcli &amp;&amp; tmux send-keys &quot;$IMAGECLI &#39;$url&#39; &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-181" id="h1-0-181" class="i">+        ;;
</a><a href="#h1-0-182" id="h1-0-182" class="i">+    *imgur.com/*)
</a><a href="#h1-0-183" id="h1-0-183" class="i">+        # tmux split-window &amp;&amp; tmux send-keys &quot;lynx -source &quot;$url&quot; | grep post-image-container | grep -oP &#39;&lt;div id=\&quot;\K[^\&quot;]+&#39; | while read line; do echo https://i.imgur.com/&quot;\$line&quot;.png; done | urlview &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-184" id="h1-0-184" class="i">+        multiurlextract=&quot;(lynx -source &quot;$url&quot; | grep post-image-container | grep -oP &#39;&lt;div id=\&quot;\K[^\&quot;]+&#39; | while read line; do echo https://i.imgur.com/&quot;\$line&quot;.png; done | urlview)&quot;
</a><a href="#h1-0-185" id="h1-0-185" class="i">+        tmux split-window &amp;&amp; tmux send-keys &quot;$multiurlextract &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-186" id="h1-0-186" class="i">+        ;;
</a><a href="#h1-0-187" id="h1-0-187" class="i">+    mailto:*)
</a><a href="#h1-0-188" id="h1-0-188" class="i">+        tmux split-window -fv &amp;&amp; tmux send-keys &quot;mutt -- &#39;$url&#39; &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-189" id="h1-0-189" class="i">+        ;;
</a><a href="#h1-0-190" id="h1-0-190" class="i">+    *.pls|*.m3u)
</a><a href="#h1-0-191" id="h1-0-191" class="i">+        tmux split-window -fv -p 20 &amp;&amp; tmux send-keys &quot;mpv &#39;$url&#39; &amp;&amp; exit&quot; &#39;Enter&#39;
</a><a href="#h1-0-192" id="h1-0-192" class="i">+        ;;
</a><a href="#h1-0-193" id="h1-0-193" class="i">+    magnet:*|*.torrent)
</a><a href="#h1-0-194" id="h1-0-194" class="i">+        $TORRENTCLI &quot;$url&quot;
</a><a href="#h1-0-195" id="h1-0-195" class="i">+        ;;
</a><a href="#h1-0-196" id="h1-0-196" class="i">+    *.jpg|*.jpeg|*.png|*:large)
</a><a href="#h1-0-197" id="h1-0-197" class="i">+        tmux new-window -n pixcli &amp;&amp; tmux send-keys &quot;$IMAGECLI &#39;$url&#39; &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-198" id="h1-0-198" class="i">+        # nohup $IMAGEGUI &quot;$url&quot; &gt; /dev/null 2&gt;&amp;1 &amp;
</a><a href="#h1-0-199" id="h1-0-199" class="i">+        ;;
</a><a href="#h1-0-200" id="h1-0-200" class="i">+    *.gif)
</a><a href="#h1-0-201" id="h1-0-201" class="i">+        nohup $VIDEO_CLIP &quot;${url/.gifv/.webm}&quot; &gt; /dev/null 2&gt;&amp;1 &amp;
</a><a href="#h1-0-202" id="h1-0-202" class="i">+        ;;
</a><a href="#h1-0-203" id="h1-0-203" class="i">+    *zippyshare.com/*|*mediafire.com/file/*|*sendspace.com/file/*)
</a><a href="#h1-0-204" id="h1-0-204" class="i">+        if pgrep -f $DDL_QUEUE_FAST &gt; /dev/null
</a><a href="#h1-0-205" id="h1-0-205" class="i">+        then
</a><a href="#h1-0-206" id="h1-0-206" class="i">+            echo &quot;$url&quot; &gt;&gt; $DDL_QUEUE_FAST
</a><a href="#h1-0-207" id="h1-0-207" class="i">+        else
</a><a href="#h1-0-208" id="h1-0-208" class="i">+            echo &quot;$url&quot; &gt;&gt; $DDL_QUEUE_FAST
</a><a href="#h1-0-209" id="h1-0-209" class="i">+            cat $DDL_QUEUE_FAST | awk &#39;!x[$0]++&#39; | sponge $DDL_QUEUE_FAST
</a><a href="#h1-0-210" id="h1-0-210" class="i">+            tmux split-window -fv -p 20 &amp;&amp; tmux send-keys &quot;until [[ \$(cat $DDL_QUEUE_FAST | grep -v &#39;#&#39; | wc -l) -eq 0 ]]; do mkdir -p $DDL_PATH &amp;&amp; cd $DDL_PATH &amp;&amp; plowdown -m $DDL_QUEUE_FAST -o $DDL_PATH ; done&quot; &#39;Enter&#39;
</a><a href="#h1-0-211" id="h1-0-211" class="i">+        fi
</a><a href="#h1-0-212" id="h1-0-212" class="i">+        ;;
</a><a href="#h1-0-213" id="h1-0-213" class="i">+    *.mp4|*.mkv|*.avi|*.wmv|*.m4v|*.mpg|*.mpeg|*.flv|*.ogm|*.ogv|*.gifv)
</a><a href="#h1-0-214" id="h1-0-214" class="i">+        $VIDEO_QUEUE &quot;$url&quot;
</a><a href="#h1-0-215" id="h1-0-215" class="i">+        ;;
</a><a href="#h1-0-216" id="h1-0-216" class="i">+    *.mp3|*.m4a|*.wav|*.ogg|*.oga|*.flac)
</a><a href="#h1-0-217" id="h1-0-217" class="i">+        # create queue fifo files if it does not exist
</a><a href="#h1-0-218" id="h1-0-218" class="i">+        if [[ ! -p /tmp/mpvinput ]]; then
</a><a href="#h1-0-219" id="h1-0-219" class="i">+            mkfifo /tmp/mpvinput
</a><a href="#h1-0-220" id="h1-0-220" class="i">+        fi
</a><a href="#h1-0-221" id="h1-0-221" class="i">+
</a><a href="#h1-0-222" id="h1-0-222" class="i">+        # check if process mpv exist (e.g mpv --input-file=/tmp/mpvinput filename.mp3)
</a><a href="#h1-0-223" id="h1-0-223" class="i">+        if pgrep -f mpvinput &gt; /dev/null
</a><a href="#h1-0-224" id="h1-0-224" class="i">+        then
</a><a href="#h1-0-225" id="h1-0-225" class="i">+            # if mpv is already running then append new url/files to queue
</a><a href="#h1-0-226" id="h1-0-226" class="i">+            # echo loadfile \&quot;${url/&#39;/\\&#39;}\&quot; append-play &gt; /tmp/mpvinput
</a><a href="#h1-0-227" id="h1-0-227" class="i">+            echo loadfile \&quot;$url\&quot; append-play &gt; /tmp/mpvinput
</a><a href="#h1-0-228" id="h1-0-228" class="i">+        # nohup $VIDEO_CLIP &quot;${url/.gifv/.webm}&quot; &gt; /dev/null 2&gt;&amp;1 &amp;
</a><a href="#h1-0-229" id="h1-0-229" class="i">+        else
</a><a href="#h1-0-230" id="h1-0-230" class="i">+            # if mpv is not running then start it (initial startup)
</a><a href="#h1-0-231" id="h1-0-231" class="i">+            # mpv --no-video --input-file=/tmp/mpvinput &quot;$1&quot;
</a><a href="#h1-0-232" id="h1-0-232" class="i">+            tmux split-window -fv -p 20 &amp;&amp; tmux send-keys &quot;mpv --no-video --input-file=/tmp/mpvinput \&quot;$url\&quot; &amp;&amp; exit&quot; &#39;Enter&#39;
</a><a href="#h1-0-233" id="h1-0-233" class="i">+        fi
</a><a href="#h1-0-234" id="h1-0-234" class="i">+        # Note: use &quot;&lt;&quot; or &quot;&gt;&quot; hotkeys to skip between songs/audio queue list on mpv
</a><a href="#h1-0-235" id="h1-0-235" class="i">+        ;;
</a><a href="#h1-0-236" id="h1-0-236" class="i">+    *|*.html)
</a><a href="#h1-0-237" id="h1-0-237" class="i">+        # $DEFAULT &quot;$url&quot;
</a><a href="#h1-0-238" id="h1-0-238" class="i">+        tmux new-window -n browse &amp;&amp; tmux send-keys &quot;$DEFAULT &#39;$url&#39; &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a><a href="#h1-0-239" id="h1-0-239" class="i">+        ;;
</a><a href="#h1-0-240" id="h1-0-240" class="i">+esac
</a><a href="#h1-0-241" id="h1-0-241" class="i">+
</a><b>diff --git a/<a id="h2" href="../file/gotbletu/gotbletu-w3m-tmux-play.html">gotbletu/gotbletu-w3m-tmux-play</a> b/<a href="../file/gotbletu/gotbletu-w3m-tmux-play.html">gotbletu/gotbletu-w3m-tmux-play</a></b>
<a href="#h2-0" id="h2-0" class="h">@@ -0,0 +1,29 @@
</a><a href="#h2-0-0" id="h2-0-0" class="i">+#!/bin/bash
</a><a href="#h2-0-1" id="h2-0-1" class="i">+#             _   _     _      _         
</a><a href="#h2-0-2" id="h2-0-2" class="i">+#  __ _  ___ | |_| |__ | | ___| |_ _   _ 
</a><a href="#h2-0-3" id="h2-0-3" class="i">+# / _` |/ _ \| __| &#39;_ \| |/ _ \ __| | | |
</a><a href="#h2-0-4" id="h2-0-4" class="i">+#| (_| | (_) | |_| |_) | |  __/ |_| |_| |
</a><a href="#h2-0-5" id="h2-0-5" class="i">+# \__, |\___/ \__|_.__/|_|\___|\__|\__,_|
</a><a href="#h2-0-6" id="h2-0-6" class="i">+# |___/                                  
</a><a href="#h2-0-7" id="h2-0-7" class="i">+#       https://www.youtube.com/user/gotbletu
</a><a href="#h2-0-8" id="h2-0-8" class="i">+#       https://twitter.com/gotbletu
</a><a href="#h2-0-9" id="h2-0-9" class="i">+#       https://plus.google.com/+gotbletu
</a><a href="#h2-0-10" id="h2-0-10" class="i">+#       https://github.com/gotbletu
</a><a href="#h2-0-11" id="h2-0-11" class="i">+#       gotbletu@gmail.com
</a><a href="#h2-0-12" id="h2-0-12" class="i">+
</a><a href="#h2-0-13" id="h2-0-13" class="i">+# info: script to grab media links from w3m page and open with nvlc that will spawn a new tmux window
</a><a href="#h2-0-14" id="h2-0-14" class="i">+
</a><a href="#h2-0-15" id="h2-0-15" class="i">+output_playlist=/tmp/playlist.m3u
</a><a href="#h2-0-16" id="h2-0-16" class="i">+
</a><a href="#h2-0-17" id="h2-0-17" class="i">+# create playlist from http links (via xclip)
</a><a href="#h2-0-18" id="h2-0-18" class="i">+# w3m -dump &quot;$(xclip -selection clipboard -o)&quot; | awk &#39;/http/ {print $2}&#39; | grep -iE &#39;.(mp4|avi|mpg|mpeg|m4v|mkv|mp3|wma|m4a|ogg|wav)$&#39; &gt; &quot;${output_playlist}&quot;
</a><a href="#h2-0-19" id="h2-0-19" class="i">+
</a><a href="#h2-0-20" id="h2-0-20" class="i">+# create playlist from http links (via tmux clipboard)
</a><a href="#h2-0-21" id="h2-0-21" class="i">+w3m -dump &quot;$(tmux show-buffer)&quot; | awk &#39;/http/ {print $2}&#39; | grep -iE &#39;.(mp4|avi|mpg|mpeg|m4v|mkv|mp3|wma|m4a|ogg|wav)$&#39; &gt; &quot;${output_playlist}&quot;
</a><a href="#h2-0-22" id="h2-0-22" class="i">+
</a><a href="#h2-0-23" id="h2-0-23" class="i">+# append instead of overwrite
</a><a href="#h2-0-24" id="h2-0-24" class="i">+# lynx -dump &quot;$(xclip -selection clipboard -o)&quot; | awk &#39;/http/ {print $2}&#39; | grep -E &#39;(.mp3$|.wma$|.m4a$|.ogg$|.wav$)&#39; &gt;&gt; &quot;${output_playlist}&quot;
</a><a href="#h2-0-25" id="h2-0-25" class="i">+
</a><a href="#h2-0-26" id="h2-0-26" class="i">+# open in new tmux window
</a><a href="#h2-0-27" id="h2-0-27" class="i">+tmux new-window -n w3mplay
</a><a href="#h2-0-28" id="h2-0-28" class="i">+tmux send-keys -t w3mplay &quot;nvlc &quot;${output_playlist}&quot; &amp;&amp; tmux kill-pane&quot; &#39;Enter&#39;
</a></pre>
</div>
</body>
</html>
