<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>gotbletu-boat-browsercli - handy - Unnamed repository; edit this file &#39;description&#39; to name the repository.
</title>
<link rel="icon" type="image/png" href="../../favicon.png" />
<link rel="alternate" type="application/atom+xml" title="handy Atom Feed" href="../../atom.xml" />
<link rel="alternate" type="application/atom+xml" title="handy Atom Feed (tags)" href="../../tags.xml" />
<link rel="stylesheet" type="text/css" href="../../style.css" />
</head>
<body>
<table><tr><td><a href="../../../"><img src="../../logo.png" alt="" width="32" height="32" /></a></td><td><h1>handy</h1><span class="desc">Unnamed repository; edit this file &#39;description&#39; to name the repository.
</span></td></tr><tr><td></td><td>
<a href="../../log.html">Log</a> | <a href="../../files.html">Files</a> | <a href="../../refs.html">Refs</a> | <a href="../../file/README.md.html">README</a></td></tr></table>
<hr/>
<div id="content">
<p> gotbletu-boat-browsercli (3458B)</p><hr/><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> # Newsbeuter Macro
<a href="#l2" class="line" id="l2">      2</a> couple of macros i use with my terminal rss reader, we dont need to reinvent the wheel, we are just going to use existing tools and chain them together.
<a href="#l3" class="line" id="l3">      3</a> * tutorial video: [Link](https://www.youtube.com/watch?v=mRnMg2V9n-E)
<a href="#l4" class="line" id="l4">      4</a> * offical website: [Link](http://newsbeuter.org/)
<a href="#l5" class="line" id="l5">      5</a> 
<a href="#l6" class="line" id="l6">      6</a> ### install requirements
<a href="#l7" class="line" id="l7">      7</a>     newsbeuter
<a href="#l8" class="line" id="l8">      8</a> 
<a href="#l9" class="line" id="l9">      9</a> ### how to use newsbeuter
<a href="#l10" class="line" id="l10">     10</a> - newsbeuter playlist: https://www.youtube.com/playlist?list=PLqv94xWU9zZ30jHFe8pqC5qES6ya6v2sE
<a href="#l11" class="line" id="l11">     11</a> 
<a href="#l12" class="line" id="l12">     12</a> ### variables
<a href="#l13" class="line" id="l13">     13</a>     vim ~/.bashrc or ~/.zshrc
<a href="#l14" class="line" id="l14">     14</a>     
<a href="#l15" class="line" id="l15">     15</a>     export BROWSER=chromium
<a href="#l16" class="line" id="l16">     16</a>     export BROWSERCLI=w3m
<a href="#l17" class="line" id="l17">     17</a> 
<a href="#l18" class="line" id="l18">     18</a> ### configuration
<a href="#l19" class="line" id="l19">     19</a>     vim ~/.newsbeuter/config
<a href="#l20" class="line" id="l20">     20</a>     
<a href="#l21" class="line" id="l21">     21</a>     
<a href="#l22" class="line" id="l22">     22</a>     browser $BROWSER
<a href="#l23" class="line" id="l23">     23</a>     save-path ~/.newsbeuter/saved_articles
<a href="#l24" class="line" id="l24">     24</a>     
<a href="#l25" class="line" id="l25">     25</a>     #-------- macros {{{
<a href="#l26" class="line" id="l26">     26</a>     #------------------------------------------------------
<a href="#l27" class="line" id="l27">     27</a>     # Note: macro prefix key ( default: , )
<a href="#l28" class="line" id="l28">     28</a>     
<a href="#l29" class="line" id="l29">     29</a>     # open in cli web browser
<a href="#l30" class="line" id="l30">     30</a>     # w3m: https://www.youtube.com/watch?v=Z22cFTB-uqg
<a href="#l31" class="line" id="l31">     31</a>     # tmux: https://www.youtube.com/watch?v=ZNM1KfqpyGo
<a href="#l32" class="line" id="l32">     32</a>     # macro o set browser &quot;$BROWSERCLI %u&quot;; open-in-browser ; set browser &quot;$BROWSER %u&quot;
<a href="#l33" class="line" id="l33">     33</a>     macro o set browser &quot;tmux split-window &amp;&amp; tmux send-keys &#39;$BROWSERCLI %u &amp;&amp; tmux kill-pane\n&#39;&quot;; open-in-browser ; set browser &quot;$BROWSER %u&quot;
<a href="#l34" class="line" id="l34">     34</a>     
<a href="#l35" class="line" id="l35">     35</a>     # read reddit comments with rtv (reddit terminal viewer)
<a href="#l36" class="line" id="l36">     36</a>     # rtv: https://www.youtube.com/watch?v=jc2ZVSof5-g
<a href="#l37" class="line" id="l37">     37</a>     # macro r set browser &quot;rtv -l %u&quot;; open-in-browser ; set browser &quot;$BROWSER %u&quot;
<a href="#l38" class="line" id="l38">     38</a>     macro r set browser &quot;tmux split-window &amp;&amp; tmux send-keys &#39;rtv -l %u &amp;&amp; tmux kill-pane\n&#39;&quot;; open-in-browser ; set browser &quot;$BROWSER %u&quot;
<a href="#l39" class="line" id="l39">     39</a>     
<a href="#l40" class="line" id="l40">     40</a>     # add video or audio to play queue using mpv (requires: task-spooler, mpv, youtube-dl)
<a href="#l41" class="line" id="l41">     41</a>     # task-spooler: https://www.youtube.com/watch?v=wv8D8wT20ZY
<a href="#l42" class="line" id="l42">     42</a>     # youtube-dl: https://www.youtube.com/watch?v=MFxlwVhwayg
<a href="#l43" class="line" id="l43">     43</a>     macro p set browser &quot;tsp mpv --ontop --no-border --force-window --autofit=500x280 --geometry=-15-10 %u&quot;; open-in-browser ; set browser &quot;$BROWSER %u&quot;
<a href="#l44" class="line" id="l44">     44</a>     
<a href="#l45" class="line" id="l45">     45</a>     # copy url to clipboard &quot;yank&quot;
<a href="#l46" class="line" id="l46">     46</a>     # xclip: https://www.youtube.com/watch?v=fKP0FLp3uW0
<a href="#l47" class="line" id="l47">     47</a>     macro y set browser &quot;echo -n %u | xclip -selection clipboard&quot;; open-in-browser ; set browser &quot;$BROWSER %u&quot;
<a href="#l48" class="line" id="l48">     48</a>     
<a href="#l49" class="line" id="l49">     49</a> 
<a href="#l50" class="line" id="l50">     50</a>     # read saved files
<a href="#l51" class="line" id="l51">     51</a>     # ranger: https://www.youtube.com/watch?v=qooLR8NmYKs
<a href="#l52" class="line" id="l52">     52</a>     # w3m context url: https://www.youtube.com/watch?v=C7YPjbrTeCs
<a href="#l53" class="line" id="l53">     53</a>     macro s set browser &quot;tmux split-window &amp;&amp; tmux send-keys &#39;ranger ~/.newsbeuter/saved_articles &amp;&amp; tmux kill-pane\n&#39;&quot; ; open-in-browser ; set browser &quot;$BROWSER %u&quot;
<a href="#l54" class="line" id="l54">     54</a>     
<a href="#l55" class="line" id="l55">     55</a>     # }}}
<a href="#l56" class="line" id="l56">     56</a>     
<a href="#l57" class="line" id="l57">     57</a> 
<a href="#l58" class="line" id="l58">     58</a> ### references
<a href="#l59" class="line" id="l59">     59</a> - newsbeuter playlist: https://www.youtube.com/playlist?list=PLqv94xWU9zZ30jHFe8pqC5qES6ya6v2sE
<a href="#l60" class="line" id="l60">     60</a> - w3m: https://www.youtube.com/watch?v=Z22cFTB-uqg
<a href="#l61" class="line" id="l61">     61</a> - tmux: https://www.youtube.com/watch?v=ZNM1KfqpyGo
<a href="#l62" class="line" id="l62">     62</a> - rtv: https://www.youtube.com/watch?v=jc2ZVSof5-g
<a href="#l63" class="line" id="l63">     63</a> - task-spooler: https://www.youtube.com/watch?v=wv8D8wT20ZY
<a href="#l64" class="line" id="l64">     64</a> - youtube-dl: https://www.youtube.com/watch?v=MFxlwVhwayg
<a href="#l65" class="line" id="l65">     65</a> - xclip: https://www.youtube.com/watch?v=fKP0FLp3uW0
<a href="#l66" class="line" id="l66">     66</a> - ranger: https://www.youtube.com/watch?v=qooLR8NmYKs
<a href="#l67" class="line" id="l67">     67</a> - w3m context url: https://www.youtube.com/watch?v=C7YPjbrTeCs
<a href="#l68" class="line" id="l68">     68</a> 
<a href="#l69" class="line" id="l69">     69</a> ### contact
<a href="#l70" class="line" id="l70">     70</a> 
<a href="#l71" class="line" id="l71">     71</a>                  _   _     _      _         
<a href="#l72" class="line" id="l72">     72</a>       __ _  ___ | |_| |__ | | ___| |_ _   _ 
<a href="#l73" class="line" id="l73">     73</a>      / _` |/ _ \| __| &#39;_ \| |/ _ \ __| | | |
<a href="#l74" class="line" id="l74">     74</a>     | (_| | (_) | |_| |_) | |  __/ |_| |_| |
<a href="#l75" class="line" id="l75">     75</a>      \__, |\___/ \__|_.__/|_|\___|\__|\__,_|
<a href="#l76" class="line" id="l76">     76</a>      |___/                                  
<a href="#l77" class="line" id="l77">     77</a> 
<a href="#l78" class="line" id="l78">     78</a> - http://www.youtube.com/user/gotbletu
<a href="#l79" class="line" id="l79">     79</a> - https://twitter.com/gotbletu
<a href="#l80" class="line" id="l80">     80</a> - https://plus.google.com/+gotbletu
<a href="#l81" class="line" id="l81">     81</a> - https://github.com/gotbletu
<a href="#l82" class="line" id="l82">     82</a> - gotbletu@gmail.com
<a href="#l83" class="line" id="l83">     83</a> 
<a href="#l84" class="line" id="l84">     84</a> 
</pre>
</div>
</body>
</html>
